@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
div{
  display:flex;
  align-items: center;
  justify-content:center;
  font-size: 2em;
  color:#fff;
  text-shadow: 2px 2px 2px #000;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-1{
  background-image: url("images/isro.png");
  width:100%;
  height:100vh;
  background-color: black;
  color: rgba(205, 253, 255, 0.692);

  
  
}
.bg-2{
  background-image: url("images/images.png");
  width:100%;
  height:600px;
  background-color: black;
  color: rgba(205, 253, 255, 0.692);
}
.bg-3{
  background-image: url("images/download.jpg");
  width:100%;
  height:100vh;
  background-color: black;
  color: rgba(205, 253, 255, 0.692);
}
.bg-4{
  background-image: url("images/download\ \(1\).jpg");
  width:100%;
  height:600px;
  background-color: black;
  color: rgba(205, 253, 255, 0.692);
}

.comm{
  background-color: rgb(255, 200, 127);
  color:rgb(233, 121, 47)
}

.comm1{
  background-color: rgba(31, 179, 247, 0.24);
  color:rgb(241, 128, 35)
}
.comm2{
  background-color: rgb(207, 219, 135);
  color:rgb(75, 47, 233)
}
.comm3{
  background-color: rgb(230, 207, 207);
  color:rgba(205, 253, 255, 0.692)
}
  